body{
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}
.container{
    display: flex;
    color: white;
}
.container{
  
    max-height: 650vh;
	
  scroll-snap-type: y mandatory;
}

.part-1{
    width: 45%;
}
.part-2{
    width: 55%;
}

.section-1{
    background-color: blueviolet;
    
}

.section-svg-1{
    width:300px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-left: 70%;
  
}
.item-1{
    position: absolute;
    margin-top: -15%;
    margin-left: 27%;
   
}

.item-content-img{
    margin-left: 40px;
     width:45%;
}

.item-content-footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 15px;
    padding-bottom: 10px;
}

/* section-2 */
.section-2{
    background-color:cornflowerblue;
    
}

.section-svg-2{
    width:300px;
    border-radius: 50%;
    background-color:cornflowerblue;
    margin-left: 70%;
    z-index: 1;
  
}
.item-2{
    position: absolute;
    margin-top: -15%;
    margin-left: 29%;
   
}
